@import "../../../assets/Global.scss";

#azulwasi-header {
  font-weight: 400;
  font-size: 2em;
}

#azulwasi-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#azulwasi-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#azulwasi-sections {
  padding: 1em 0em;
}

#azulwasi-maps-cont {
  padding: 2em 0em;
}

#azulwasi-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#azulwasi-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#azulwasi-images {
  width: 100%;
  padding: 1em 0em;
}

#azulwasi-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#azulwasi-button-cont {
  display: flex;
  justify-content: center;
}

#azulwasi-childname {
  font-size: 1em;
  font-weight: 400;
}

.azulwasi-list {
  margin-left: 2em;
}