@import "../../../assets/Global.scss";

#privacy-section {
  padding: 1em 0em;
}

#privacy-paragraphs {
  padding: 1em 0em;
  line-height: 1.75em;
  font-weight: 300;
}

#privacy-ul {
  padding: 1em 2em;
}

