@import "../../../assets/Global.scss";


#espinal-main {
  padding: 6em 0em 0em;
}

#espinal-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;
}

#espinal-header {
  font-weight: 400;
  font-size: 2em;
}

#about-espinal {
  padding: 2em;
}
#espinal-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#espinal-titles {
  font-weight: 400;
  font-size: 0.75em;
}


#espinal-sections {
  padding: 1em 0em;
}

#espinal-maps-cont {
  padding: 2em 0em;
}


#espinal-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#espinal-images {
  width: 100%;
  padding: 1em 0em;
}

#espinal-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#espinal-button-cont {
  display: flex;
  justify-content: center;
}

#espinal-numbers {
  margin: 0em 2em;
}

// tablet breakpoint
@media screen and (min-width: $tablet ) {
  
  
  #espinal-main {
    padding: 6em 0em 0em;
  }
  
  #espinal-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  padding: 0em 4em;
}

#espinal-header {
  font-weight: 400;
  font-size: 2em;
}

#about-espinal {
  padding: 2em 4em;
}
#espinal-names {
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.5em 0em;
}

#espinal-titles {
  font-weight: 400;
  font-size: 1em;
}

#espinal-sections {
  padding: 1em 0em;
}

#espinal-maps-cont {
  padding: 2em 0em;
}


#espinal-paragraphs {
  font-size: 1em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#espinal-images {
  width: 100%;
  padding: 1em 0em;
}

#espinal-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1.25em;
}

#espinal-button-cont {
  display: flex;
  justify-content: center;
}


}

// window breakpoint
@media screen and (min-width: $window) {

  #espinal-main {
  padding: 4em 0em 0em;
}

#espinal-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0em 4em;
  width: 100%;
}

#espinal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#espinal-header {
  font-weight: 400;
  font-size: 2.5em;
    padding-bottom: 1em;

}

#about-espinal {
  padding: 2em 15em;
}
#espinal-names {
  font-weight: 400;
  font-size: 1.5em;
  padding: 0em;
}

#espinal-titles {
  font-weight: 400;
  font-size: 1em;
}

#espinal-sections {
  padding: 1em 0em;
}

#espinal-maps-cont {
  width: 30%;
  padding: 2em 0em;
}


#espinal-paragraphs {
  font-size: 1em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#espinal-image-cont {
  display: flex;
  justify-content: center;
}

#espinal-images {
  width: 66%;
  padding: 1em 0em;
}

#espinal-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1.25em;
}

#espinal-button-cont {
  display: flex;
  justify-content: center;
}



}