@import "../../../assets/Global.scss";

#sanjose-header {
  font-weight: 400;
  font-size: 2em;
}

#sanjose-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#sanjose-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#sanjose-sections {
  padding: 1em 0em;
}

#sanjose-maps-cont {
  padding: 2em 0em;
}

#sanjose-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sanjose-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#sanjose-images {
  width: 100%;
  padding: 1em 0em;
}

#sanjose-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#sanjose-button-cont {
  display: flex;
  justify-content: center;
}