@import "../../../assets/Global.scss";

#sanjose-header {
  font-weight: 400;
  font-size: 2em;
}

#sanjose-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#sanjose-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#sanjose-sections {
  padding: 1em 0em;
}

#sanjose-maps-cont {
  padding: 2em 0em;
}

#sanjose-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sanjose-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#sanjose-images {
  width: 100%;
  padding: 1em 0em;
}

#sanjose-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#sanjose-button-cont {
  display: flex;
  justify-content: center;
}


#sanjose-main {
  padding: 6em 0em 0em;
}

#sanjose-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;
}

#sanjose-header {
  font-weight: 400;
  font-size: 2em;
}

#about-sanjose {
  padding: 2em;
}
#sanjose-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#sanjose-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#sanjose-sections {
  padding: 1em 0em;
}

#sanjose-maps-cont {
  padding: 2em 0em;
}

#sanjose-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#sanjose-images {
  width: 100%;
  padding: 1em 0em;
}

#sanjose-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#sanjose-button-cont {
  display: flex;
  justify-content: center;
}

// tablet breakpoint
@media screen and (min-width: $tablet) {
  #sanjose-main {
    padding: 6em 0em 0em;
  }

  #sanjose-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 4em;
  }

  #sanjose-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #sanjose-header {
    font-weight: 400;
    font-size: 2em;
  }

  #about-sanjose {
    padding: 2em 4em;
  }
  #sanjose-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
  }

  #sanjose-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #sanjose-sections {
    padding: 1em 0em;
  }

  #sanjose-maps-cont {
    width: 50%;
    padding: 2em 0em;
  }

  #sanjose-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #sanjose-images {
    width: 50%;
    padding: 1em 0em;
  }

  #sanjose-image-cont {
  display: flex;
  justify-content: center;
}

  #sanjose-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #sanjose-button-cont {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: $window) {
  #sanjose-main {
    padding: 4em 0em 0em;
  }

  #sanjose-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0em 4em;
  }

  #sanjose-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #sanjose-header {
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 1em;

  }

  #about-sanjose {
    padding: 2em 15em;
  }
  #sanjose-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0em;
  }

  #sanjose-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #sanjose-sections {
    padding: 1em 0em;
  }

  #sanjose-maps-cont {
    width: 30%;
    padding: 2em 0em;
  }

  #sanjose-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #sanjose-images {
    width: 50%;
    padding: 1em 0em;
  }

  #sanjose-image-cont {
  display: flex;
  justify-content: center;
}

  #sanjose-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #sanjose-button-cont {
    display: flex;
    justify-content: center;
  }
}
// window breakpoint
// @media screen and (min-width: $window) {

//   body {
//     background-color: green;
//   }

// }
