@import "../../../assets/Global.scss";

#laguajira-main {
  padding: 6em 0em 2em;
}

#laguajira-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;

}

#laguajira-header {
  font-weight: 400;
  font-size: 2em;
}

#laguajira-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#laguajira-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#laguajira-sections {
  padding: 1em 0em;
}

#laguajira-maps-cont {
  padding: 2em 0em;
}


#laguajira-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#laguajira-images {
  width: 100%;
  padding: 1em 0em;
}

#laguajira-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#laguajira-button-cont {
  display: flex;
  justify-content: center;
}

#about-laguajira {
  padding: 2em;
}


// tablet breakpoint
@media screen and (min-width: $tablet) {
  #laguajira-main {
    padding: 6em 0em 0em;
  }

  #laguajira-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 2em;
  }

  #laguajira-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #laguajira-header {
    font-weight: 400;
    font-size: 2em;
  }

  #about-laguajira {
    padding: 2em 4em;
  }
  #laguajira-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
  }

  #laguajira-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #laguajira-sections {
    padding: 1em 0em;
  }

  #laguajira-maps-cont {
    width: 50%;
    padding: 2em 0em;
  }

  #laguajira-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #laguajira-images {
    width: 50%;
    padding: 1em 0em;
  }

  #laguajira-image-cont {
  display: flex;
  justify-content: center;
}

  #laguajira-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #laguajira-button-cont {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: $window) {
  #laguajira-main {
    padding: 4em 0em 0em;
  }

  #laguajira-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0em 4em;
  }

  #laguajira-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0em 4em;
  }

  #laguajira-header {
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 1em;
  }

  #about-laguajira {
    padding: 2em 15em;
  }

  #laguajira-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0em;
  }

  #laguajira-childname {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
}

  #laguajira-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #laguajira-sections {
    padding: 0.5em 0em;
  }

  #laguajira-maps-cont {
    width: 30%;
    padding: 2em 0em;
  }

  #laguajira-paragraphs {
    font-size: 1em;
    padding: 0.5em 0em;
    font-weight: 300;
    line-height: 1.5em;
    // text-align: center;
  }

  #laguajira-image-cont {
    display: flex;
    justify-content: center;
  }

  #laguajira-images {
    width: 66%;
    padding: 1em 0em;
  }
  #laguajira-smaller-images {
    width: 50%;
    padding: 1em 0em;
  }

  #laguajira-image-row {
    display: flex;
    justify-content: center;
  }

  #laguajira-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #laguajira-button-cont {
    display: flex;
    justify-content: center;
  }
}





