@import "../../assets/Global.scss";

#homes-main {
  padding: 6em 2em 0em;
}

#homes-header {
  font-size: 1.5em;
  padding-bottom: 1em;
}

#homes-maps-cont {
  padding: 2em 0em;
}

#homes-links-cont {
}

#homes-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: .5em 1em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
  margin: .5em;
}

#homes-list {
  padding: .5em 0em;
  
}

#homes-link {
  text-decoration: none;
  color: $sugarWhite;
}

// tablet breakpoint
@media screen and (min-width: $tablet ) {
  
  #homes-main {
  padding: 6em 4em 0em;
}

#homes-header {
  font-size: 2em;
  padding-bottom: 1em;
}

#homes-maps-cont {
  padding: 2em 0em;
}

#homes-links-cont {
  padding-left: 2em;
}

#homes-list {
  padding: .5em 0em;

}

#homes-link {
  font-size: 1.5em;
  text-decoration: none;
  color: $linkGreen;
}

}
// window breakpoint
// @media screen and (min-width: $window) {

//   body {
//     background-color: green;
//   }

// }