@import "../../../assets/Global.scss";

#melgar-main {
  padding: 6em 0em 2em;
}

#melgar-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;

}

#melgar-header {
  font-weight: 400;
  font-size: 2em;
}

#melgar-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#melgar-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#melgar-sections {
  padding: 1em 0em;
}

#melgar-maps-cont {
  padding: 2em 0em;
}


#melgar-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#melgar-images {
  width: 100%;
  padding: 1em 0em;
}

#melgar-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#melgar-button-cont {
  display: flex;
  justify-content: center;
}

#about-melgar {
  padding: 2em;
}


// tablet breakpoint
@media screen and (min-width: $tablet) {
  #melgar-main {
    padding: 6em 0em 0em;
  }

  #melgar-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 2em;
  }

  #melgar-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #melgar-header {
    font-weight: 400;
    font-size: 2em;
  }

  #about-melgar {
    padding: 2em 4em;
  }
  #melgar-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
  }

  #melgar-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #melgar-sections {
    padding: 1em 0em;
  }

  #melgar-maps-cont {
    width: 50%;
    padding: 2em 0em;
  }

  #melgar-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #melgar-images {
    width: 50%;
    padding: 1em 0em;
  }

  #melgar-image-cont {
  display: flex;
  justify-content: center;
}

  #melgar-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #melgar-button-cont {
    display: flex;
    justify-content: center;
  }
}

