@import "../../../assets/Global.scss";

#learn-section {
  padding: 2em;
}

#header-learn-more {
  font-size: 1.5em;
  font-weight: 400;
}

.learn-header {
  font-size: 1em;
  color: $williamGreen;
  padding: 1em 0em;
}

.learn-content {
  font-size: 0.85em;
  line-height: 2em;
  font-weight: 400;
}

hr {
  border: solid 1px $williamGreen;
  margin-bottom: 1em;
}

// tablet breakpoint
@media screen and (min-width: $tablet) {
  
  #learn-section {
    padding: 4em;
  }

  #header-learn-more {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 1em;
  }

  .learn-header {
    color: $williamGreen;
    padding: 1em 0em;
    font-size: 1.25em;
  }

  .learn-content {
    font-size: 1em;
    line-height: 2em;
    font-weight: 400;
  }

  hr {
    border: solid 1px $williamGreen;
    margin-bottom: 1em;
  }
}
// window breakpoint
@media screen and (min-width: $window) {

  #learn-section {
    padding: 4em;
  }

  #learn-section > article {
    padding: 1em 0em;
  }
  

  #header-learn-more {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 1em;
  }

  .learn-header {
    color: $williamGreen;
    padding: 1em 0em;
    font-size: 1.25em;
  }

  .learn-content {
    font-size: 1em;
    line-height: 2em;
    font-weight: 400;
  }

  hr {
    border: solid 1px $williamGreen;
    margin-bottom: 1em;
  }

}
