@import '../../assets/Global.scss';

#contact-main {
  padding: 6em 2em 0em;
}

.contact-body {
  font-size: 1em;
  line-height: 2em;
  font-weight: 300;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

// tablet breakpoint
@media screen and (min-width: $tablet ) {
  #contact-main {
    padding: 6em 6em 0em;
  }
  
  .contact-body {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 300;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

}
// window breakpoint
// @media screen and (min-width: $window) {

//   body {
//     background-color: green;
//   }

// }