@import "../../../assets/Global.scss";

#anta-header {
  font-weight: 400;
  font-size: 2em;
}

#anta-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#anta-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#anta-sections {
  padding: 1em 0em;
}

#anta-maps-cont {
  padding: 2em 0em;
}

#anta-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#anta-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#anta-images {
  width: 100%;
  padding: 1em 0em;
}

#anta-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#anta-button-cont {
  display: flex;
  justify-content: center;
}