@import "../../../assets/Global.scss";

#cucuta-main {
  padding: 6em 0em 2em;
}

#cucuta-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;

}

#cucuta-header {
  font-weight: 400;
  font-size: 2em;
}

#cucuta-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#cucuta-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#cucuta-sections {
  padding: 1em 0em;
}

#cucuta-maps-cont {
  padding: 2em 0em;
}


#cucuta-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#cucuta-images {
  width: 100%;
  padding: 1em 0em;
}

#cucuta-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#cucuta-button-cont {
  display: flex;
  justify-content: center;
}

#about-cucuta {
  padding: 2em;
}


// tablet breakpoint
@media screen and (min-width: $tablet) {
  #cucuta-main {
    padding: 6em 0em 0em;
  }

  #cucuta-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 2em;
  }

  #cucuta-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #cucuta-header {
    font-weight: 400;
    font-size: 2em;
  }

  #about-cucuta {
    padding: 2em 4em;
  }
  #cucuta-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
  }

  #cucuta-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #cucuta-sections {
    padding: 1em 0em;
  }

  #cucuta-maps-cont {
    width: 50%;
    padding: 2em 0em;
  }

  #cucuta-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #cucuta-images {
    width: 50%;
    padding: 1em 0em;
  }

  #cucuta-image-cont {
  display: flex;
  justify-content: center;
}

  #cucuta-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #cucuta-button-cont {
    display: flex;
    justify-content: center;
  }
}

@import "../../../assets/Global.scss";

#cucuta-main {
  padding: 6em 0em 2em;
}

#cucuta-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;

}

#cucuta-header {
  font-weight: 400;
  font-size: 2em;
}

#cucuta-names {
  font-weight: 400;
  font-size: 1.25em;
  padding: 0.5em 0em;
}

#cucuta-titles {
  font-weight: 400;
  font-size: 0.75em;
}

#cucuta-sections {
  padding: 1em 0em;
}

#cucuta-maps-cont {
  padding: 2em 0em;
}


#cucuta-paragraphs {
  font-size: 0.9em;
  padding: 1em 0em;
  font-weight: 300;
  line-height: 2em;
}

#cucuta-images {
  width: 100%;
  padding: 1em 0em;
}

#cucuta-button {
  background-color: $buttonGreen;
  color: $sugarWhite;
  padding: 1em 2em;
  letter-spacing: 0.15em;
  border: none;
  font-size: 1em;
}

#cucuta-button-cont {
  display: flex;
  justify-content: center;
}

#about-cucuta {
  padding: 2em;
}


// tablet breakpoint
@media screen and (min-width: $tablet) {
  #cucuta-main {
    padding: 6em 0em 0em;
  }

  #cucuta-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0em 2em;
  }

  #cucuta-content {
      display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #cucuta-header {
    font-weight: 400;
    font-size: 2em;
  }

  #about-cucuta {
    padding: 2em 4em;
  }
  #cucuta-names {
    font-weight: 400;
    font-size: 1.5em;
    padding: 0.5em 0em;
  }

  #cucuta-titles {
    font-weight: 400;
    font-size: 1em;
  }

  #cucuta-sections {
    padding: 1em 0em;
  }

  #cucuta-maps-cont {
    width: 50%;
    padding: 2em 0em;
  }

  #cucuta-paragraphs {
    font-size: 1em;
    padding: 1em 0em;
    font-weight: 300;
    line-height: 2em;
  }

  #cucuta-images {
    width: 50%;
    padding: 1em 0em;
  }

  #cucuta-image-cont {
  display: flex;
  justify-content: center;
}

  #cucuta-button {
    background-color: $buttonGreen;
    color: $sugarWhite;
    padding: 1em 2em;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1.25em;
  }

  #cucuta-button-cont {
    display: flex;
    justify-content: center;
  }
}

